<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plan My Week</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="./assets/functions.js"></script>

<script>
  // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCEkN48w_iNNaDXuHH24CZ340XEtrg7dAI",
      authDomain: "soft352-1ff69.firebaseapp.com",
      databaseURL: "https://soft352-1ff69.firebaseio.com",
      projectId: "soft352-1ff69",
      storageBucket: "soft352-1ff69.appspot.com",
      messagingSenderId: "984599840123"
    };
    firebase.initializeApp(config);

</script>
<script src="./assets/functions.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Plan My Week!</h1>
        <div id="signIn">

          <input type="text" id="emailTxt" placeholder="Email">
          <input type="password" id="passwordTxt" placeholder="Password">
          <button id="signInBtn"> Sign In </button>
          <button id="registerBtn" onclick="firebaseRegister();"> Register Account </button>
        </div>
</body>
</html>
